html {
    box-sizing: border-box;
}


*, *::before, *::after{
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
<<<<<<< HEAD
=======
    background: #FF4444;
>>>>>>> origin/master
    color: white;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
<<<<<<< HEAD
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
=======
    background: #ff2b2b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 15px #af1818;
>>>>>>> origin/master
    overflow: hidden;
}

header img {
    display: inline-block;
    height: 25px;
    margin-left: 5px;

}

 header h1 {
    display: inline-block;
    padding: 15px 0;
    font-size: 25px;
    color: #F2F2F2;
}

.timer {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    margin: 80px auto 40px auto;
    font-size: 60px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
<<<<<<< HEAD
=======
    box-shadow: 0px 2px 7px #991616;
>>>>>>> origin/master
}

.timer p {
    position: absolute;
    top: 55px;
}

.buttons {
    text-align: center;
}

<<<<<<< HEAD
.btnStop {
    display: 'none';
}

.buttons a {
    display: inline-block;
    margin: 20px 10px;
    line-height: 60px;
=======
.buttons a {
    background: #ff2b2b;
    display: inline-block;
    margin: 20px;
    line-height: 60px;
    box-shadow: 0px 2px 7px #991616;
>>>>>>> origin/master
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.buttons a:active {
    box-shadow: none;
}

<<<<<<< HEAD
/* Clases de colores que cambian con JS  */ 

.dark-color {
    background: #ff2b2b;
}

.light-color {
    background: #FF4444;
}

.shdw {
    box-shadow: 0px 2px 7px #991616;
}




=======
.btnStop {

}
>>>>>>> origin/master
